extends layout

block content
    h1= title
    .container
        input(type='textarea' id='name')
        input(type='email' id='email')
        button(id='btn') Отправить
block scripts
    script(src='/javascripts/someImport.js')

